

# Ignore specific folders
_RangeMaps-week9fix/
uneditedPics/
"Tree Squirrels ofCalifornia_files"/
"TreeSquirrelsofCalifornia_files"/
SaltFlats/
masterimageFiles/
SquirrelSpeciesofCalifornia-0ld_files/
zhtml-old-july21/
img-sqr-copy/

# Ignore any folder containing 'midterm50B'
*midterm50B*/

# ignore hyphenated HTML
**/*-*.html

# but keep this one quiz
!CS50C_Week9/
!CS50C_Week9/Squirrel-Personality-Quiz.html

!html
!html/squirrel-evolution.html